<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Driver detail</title>
    </head>
    <body>
        <div>
            <h1>
                <%= first_name %> <%= last_name%> <%= age %> <%= nationality %>
                <%= car_number %> <%= team %>
            </h1>
            <img src="<%= photo_driver %>" alt="photo driver" width="600" />
            <img src="<%= photo_car %>" alt="photo car" width="600" />
            <img src="<%= photo_helmet2025 %>" alt="photo helmet" width="600" />
        </div>
    </body>
</html>
